In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('./dataset_diabetes/diabetic_data.csv')
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

[attribute details](https://www.hindawi.com/journals/bmri/2014/781670/tab1/)

In [5]:
df.shape

(101766, 50)

In [8]:
df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [9]:
df.age.sort_values(ascending=False)

31298    [90-100)
94096    [90-100)
62356    [90-100)
48729    [90-100)
94034    [90-100)
           ...
15551      [0-10)
20972      [0-10)
23276      [0-10)
19583      [0-10)
0          [0-10)
Name: age, Length: 101766, dtype: object

* Age is recorded in ranges

__Missing Observations__

In [10]:
df.isnull().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [11]:
df.weight.value_counts()

?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64

In [12]:
df.weight.value_counts(normalize=True)

?            0.968585
[75-100)     0.013128
[50-75)      0.008814
[100-125)    0.006142
[125-150)    0.001425
[25-50)      0.000953
[0-25)       0.000472
[150-175)    0.000344
[175-200)    0.000108
>200         0.000029
Name: weight, dtype: float64

* I see '?' in weight column yet null value command returns no nulls. 96% of the weight data has a question mark. I'd think this is a major factor in determining diabetic outcomes. 
* Also weight, like age, is in a range and not one given number.

In [13]:
df.gender.value_counts(normalize=True)

Female             0.537586
Male               0.462384
Unknown/Invalid    0.000029
Name: gender, dtype: float64

In [14]:
df.readmitted.value_counts(normalize=True)

NO     0.539119
>30    0.349282
<30    0.111599
Name: readmitted, dtype: float64

In [15]:
df.diag_1.unique()

array(['250.83', '276', '648', '8', '197', '414', '428', '398', '434',
       '250.7', '157', '518', '999', '410', '682', '402', '737', '572',
       'V57', '189', '786', '427', '996', '277', '584', '462', '473',
       '411', '174', '486', '998', '511', '432', '626', '295', '196',
       '250.6', '618', '182', '845', '423', '808', '250.4', '722', '403',
       '250.11', '784', '707', '440', '151', '715', '997', '198', '564',
       '812', '38', '590', '556', '578', '250.32', '433', 'V58', '569',
       '185', '536', '255', '250.13', '599', '558', '574', '491', '560',
       '244', '250.03', '577', '730', '188', '824', '250.8', '332', '562',
       '291', '296', '510', '401', '263', '438', '70', '250.02', '493',
       '642', '625', '571', '738', '593', '250.42', '807', '456', '446',
       '575', '250.41', '820', '515', '780', '250.22', '995', '235',
       '250.82', '721', '787', '162', '724', '282', '514', 'V55', '281',
       '250.33', '530', '466', '435', '250.12', 'V53', '789', '566',
       '822', '191', '557', '733', '455', '711', '482', '202', '280',
       '553', '225', '154', '441', '250.81', '349', '?', '962', '592',
       '507', '386', '156', '200', '728', '348', '459', '426', '388',
       '607', '337', '82', '531', '596', '288', '656', '573', '492',
       '220', '516', '210', '922', '286', '885', '958', '661', '969',
       '250.93', '227', '112', '404', '823', '532', '416', '346', '535',
       '453', '250', '595', '211', '303', '250.01', '852', '218', '782',
       '540', '457', '285', '431', '340', '550', '54', '351', '601',
       '723', '555', '153', '443', '380', '204', '424', '241', '358',
       '694', '331', '345', '681', '447', '290', '158', '579', '436',
       '335', '309', '654', '805', '799', '292', '183', '78', '851',
       '458', '586', '311', '892', '305', '293', '415', '591', '794',
       '803', '79', '655', '429', '278', '658', '598', '729', '585',
       '444', '604', '727', '214', '552', '284', '680', '708', '41',
       '644', '481', '821', '413', '437', '968', '756', '632', '359',
       '275', '512', '781', '420', '368', '522', '294', '825', '135',
       '304', '320', '250.31', '669', '868', '496', '250.43', '826',
       '567', '3', '203', '53', '251', '565', '161', '495', '49', '250.1',
       '297', '663', '576', '355', '850', '287', '250.2', '611', '840',
       '350', '726', '537', '620', '180', '366', '783', '11', '751',
       '716', '250.3', '199', '464', '580', '836', '664', '283', '813',
       '966', '289', '965', '184', '480', '608', '333', '972', '212',
       '117', '788', '924', '959', '621', '238', '785', '714', '942',
       '250.23', '710', '47', '933', '508', '478', '844', '7', '736',
       '233', '42', '250.5', '397', '395', '201', '421', '253', '250.92',
       '600', '494', '977', '39', '659', '312', '614', '647', '652',
       '646', '274', '861', '425', '527', '451', '485', '217', '250.53',
       '442', '970', '193', '160', '322', '581', '475', '623', '374',
       '582', '568', '465', '801', '237', '376', '150', '461', '913',
       '226', '617', '987', '641', '298', '790', '336', '362', '228',
       '513', '383', '746', '353', '911', '506', '873', '155', '860',
       '534', '802', '141', 'V45', '396', '310', '341', '242', '719',
       '239', '533', '616', '519', '301', 'V66', '5', '989', '230', '385',
       '300', '853', '871', '570', '848', '463', '9', '934', '250.21',
       '236', '361', '594', '501', '810', '643', '430', '528', '205',
       '791', '983', '992', '490', '172', '171', '622', '306', '863',
       '864', '474', '660', '759', '356', '634', '967', '551', '695',
       '187', '732', '747', '323', '308', '370', '252', '152', '846',
       '164', '365', '718', '48', '266', '720', '94', '344', '797', '170',
       '878', '904', 'V56', '882', '843', '709', '973', '454', '686',
       '939', '487', '229', '991', '483', '357', '692', '796', '693',
       '935', '936', '800', '920', 'V26', '261', '307', '262', '250.9',
       '831', '145', '223', 'V71', '839', '685', 'V54', '35', '34', '179',
       '964', '136', '324', '389', '815', '334', '143', '526', '588',
       '192', 'V67', '394', '917', '88', '219', '325', '792', '717',
       '994', '990', '793', '207', '637', '195', '373', '847', '827',
       '31', '891', '814', 'V60', '703', '865', '352', '627', '378',
       '342', '886', '369', '745', '705', '816', '541', '986', '610',
       '633', '640', '753', '173', '835', '379', '445', '272', '382',
       '945', '619', '881', '250.52', '866', '405', '916', '215', '893',
       '75', '671', '928', '906', '897', '725', '867', '115', '890',
       '734', '521', '674', '470', '834', '146', '696', '524', '980',
       '691', '384', '142', '879', '250.51', '246', '208', '448', '955',
       '653', '149', '245', '735', '883', '854', '952', '838', '194',
       'V43', '163', '216', '147', '354', '27', '477', '318', '880',
       '921', '377', '471', '683', '175', '602', '250.91', '982', '706',
       '375', '417', '131', '347', '870', '148', '862', '61', '817',
       '914', '360', '684', '314', 'V63', '36', '57', '240', '915', '971',
       '795', '988', '452', '963', '327', '731', '842', 'V25', '645',
       '665', '110', '944', '603', '923', '412', '363', '957', '976',
       '698', '299', '700', '273', '974', '97', '529', '66', '98', '605',
       '941', '52', '806', '84', '271', '837', '657', '895', '338', '523',
       '542', '114', '543', '372', 'V70', 'E909', '583', 'V07', '422',
       '615', '279', '500', '903', '919', '875', '381', '804', '704',
       '23', '58', '649', '832', '133', '975', '833', '391', '690', '10',
       'V51'], dtype=object)

* Noticing numbers that start with a V. Will need to find out why and decide how to update these.

In [21]:
df.diag_2.unique()

array(['?', '250.01', '250', '250.43', '157', '411', '492', '427', '198',
       '403', '288', '998', '507', '174', '425', '456', '401', '715',
       '496', '428', '585', '250.02', '410', '999', '996', '135', '244',
       '41', '571', '276', '997', '599', '424', '491', '553', '707',
       '286', '440', '493', '242', '70', 'V45', '250.03', '357', '511',
       '196', '396', '197', '414', '250.52', '577', '535', '413', '285',
       '53', '780', '518', '150', '566', '250.6', '867', '486', 'V15',
       '8', '788', '340', '574', '581', '228', '530', '250.82', '786',
       '294', '567', '785', '512', '305', '729', '250.51', '280', '648',
       '560', '618', '444', '38', 'V10', '578', '277', '781', '250.42',
       '278', '426', '584', '462', '402', '153', '272', '733', '34',
       '881', '203', '250.41', '250.13', '293', '245', '250.12', '558',
       '787', '342', '573', '626', '303', '250.53', '458', '710', '415',
       'V42', '284', '569', '759', '682', '112', '292', '435', '290',
       '250.93', '642', '536', '398', '319', '711', 'E878', '446', '255',
       'V44', '250.7', '784', '300', '562', '162', '287', '447', '789',
       '790', '591', '200', '154', '304', '117', '847', '852', '250.83',
       '250.11', '816', '575', '416', '412', '441', '515', '372', '482',
       '382', 'V65', '572', '283', '78', '250.81', '576', '432', '595',
       '295', 'V12', '204', '466', '721', '434', '590', '271', '813',
       '368', '227', '783', '250.5', '258', '253', '309', '250.91', '519',
       '333', '459', '250.92', '250.4', '179', '420', '345', '433', '661',
       '537', '205', '722', '405', '437', '714', '211', 'E812', '263',
       '202', '397', '250.23', 'E932', '201', '301', '723', '614', '568',
       '861', 'V57', '724', '189', '297', '453', 'E888', '730', '354',
       '451', '738', 'E939', '805', 'V43', '155', '910', '218', '358',
       '220', 'E937', '583', '958', '794', '564', '436', '250.22', '620',
       '621', '331', '617', '596', '314', '378', '250.8', '625', '478',
       '731', '172', '404', '681', '470', '279', '281', '531', '443',
       '799', '337', '311', '719', 'E944', '423', 'E870', '465', 'E849',
       '782', '481', '480', 'V23', '199', '79', '438', '348', '42',
       'E950', '473', '627', '726', '54', '490', '317', '332', '508',
       '369', '600', '349', '485', '208', '922', '431', '296', 'E934',
       '753', 'E935', '386', '728', '607', 'E915', '344', '716', '289',
       '191', '873', '850', '611', '377', '352', '616', 'V17', '136',
       '455', '933', 'E885', '860', '513', '603', '484', '223', 'V72',
       '291', '151', 'V58', '550', '510', '891', '185', '592', '791',
       '138', '598', '336', '362', '217', '825', '298', '821', 'E880',
       '343', '429', 'E879', '579', '225', '250.9', 'V49', '696', '233',
       '658', '969', '275', '250.1', '601', '704', '808', 'E890', 'V18',
       '920', '380', '570', 'E817', '359', '812', '274', 'V14', '324',
       '758', 'V66', '911', 'E931', 'E924', '593', '792', '727', 'V46',
       '394', '532', 'V64', '557', '864', '718', 'E942', '807', '604',
       '924', '820', '580', '273', '241', '282', '824', 'V61', '646',
       '701', '736', '565', '383', '250.2', 'E947', '452', '872', '905',
       'E930', '921', '131', '448', '389', '421', '214', '705', '494',
       '752', '623', '9', '299', '959', '365', '967', 'E858', '40', '691',
       '909', '5', '814', '746', '250.31', '556', '680', '745', '351',
       '306', '110', '695', '552', '346', '918', '882', '947', '520',
       '188', '31', '356', '737', 'V08', '322', '182', '517', '974',
       'E929', 'V53', '912', '252', '608', '516', 'E933', '94', '702',
       '923', '594', '647', '111', '934', '430', '487', '709', '796',
       '156', '977', '915', '756', '840', '341', '259', '693', '725',
       'V62', '528', '683', '953', '457', '501', 'E900', 'V09', '522',
       '919', '461', '506', '193', '483', 'E936', '717', '802', '335',
       'V54', '320', '945', '906', '239', '454', '826', '823', 'E941',
       '226', '795', '684', '844', '250.33', '308', '615', '588', '712',
       '663', '706', '833', '741', '713', '533', 'E884', '586', '555',
       '755', 'E928', '742', '869', '962', 'V11', '543', '373', '870',
       '913', '152', '810', '965', '907', '908', '995', '845', '474',
       '442', '751', '323', '472', '464', '686', '250.32', '540', '251',
       '811', '652', '659', '851', '422', '815', '307', '325', '463',
       '992', '692', '521', '917', 'E965', '524', '916', 'E813', '173',
       '238', '137', '514', '312', '837', '355', '980', '622', '475',
       '500', '754', '261', '801', '868', '968', '381', '11', '250.21',
       '694', '610', '734', 'E814', '310', '130', '246', '892', '846',
       '634', '75', 'E927', 'E905', '183', '379', 'E917', '163', 'E868',
       '495', '747', '989', 'E854', '240', '832', '605', '602', '644',
       'V16', '35', 'V70', '376', '266', 'E918', '619', '477', '656',
       '46', '883', '171', 'V13', '698', '842', 'E850', '800', '269',
       '664', 'E887', '952', '164', 'E881', '527', '685', '366', '836',
       '27', 'V63', '865', '793', '232', '990', '52', '831', '327', '542',
       '806', '972', '862', 'E829', 'E919', '944', 'E916', '963', '316',
       '645', '347', 'V85', '374', 'V02', '748', '256', '186', '866',
       '975', '96', '395', '262', 'E819', '654', '994', '318', 'E826',
       '879', '674', '641', '822', '145', '797', '353', 'E938', 'E816',
       '948', '987', '99', '192', '250.3', 'E906', '534', '115', 'E818',
       'E980', '360', '338', '529', '871', '750', '212', '302', '955',
       '141', '88', 'V25', '215', '350', 'V50', 'V03', 'E853', 'E968',
       'E882', '140', '703', '991', '893', 'E821', '235', 'V69', '670',
       '195', 'V55', '388', '268', '894', '114', '260', '853', '7', '880',
       'V86', '180', 'E945', '523', '863', '649', '270', '665', '460',
       '942', '364', '66', 'E883', '123', '884', 'V60', '843', '927'],
      dtype=object)

* Noted '?'
* Noted numbers followed by a letter for some entries. Need to look into how to change these all into integers.

In [22]:
df.diabetesMed.value_counts(normalize=True)

Yes    0.770031
No     0.229969
Name: diabetesMed, dtype: float64

In [25]:
df.number_diagnoses.value_counts

<bound method IndexOpsMixin.value_counts of 0          1
1          9
2          6
3          7
4          5
          ..
101761     9
101762     9
101763    13
101764     9
101765     9
Name: number_diagnoses, Length: 101766, dtype: int64>

In [27]:
df.change.value_counts()

No    54755
Ch    47011
Name: change, dtype: int64