# Predicting Diabetes Patient Readmission

Data derived from he Health Facts data we used was an extract representing
10 years (1999–2008) of clinical care at 130 hospitals andintegrated delivery networks throughout the United States:
Midwest (18 hospitals), Northeast (58), South (28), and West (16). 
(Impact of HbA1c Measurement on Hospital Readmission Rates: Analysis of 70,000 Clinical Database Patient Records)

__Imports__

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../dataset_diabetes/diabetic_data.csv', na_values='?')
df.head()

/Users/aishakamara/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

[attribute details](https://www.hindawi.com/journals/bmri/2014/781670/tab1/)

In [3]:
df.shape

(101766, 50)

In [4]:
df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      99493 non-null   object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    3197 non-null    object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                61510 non-null   object
 11  medical_specialty         51817 non-null   object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101745 non-null  object
 19  diag_2                    101408 non-null  object
 20  diag_3                    100343 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

__Missing Observations__

In [6]:
df.isnull().sum()

encounter_id                    0
patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum                   0
A1Cresult                       0
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

Per our results above, let's take a closer look at all variables that have missing/null values.

__Weight__

In [7]:
df.weight.isnull().sum()

98569

In [8]:
df.weight.isnull().mean()

0.9685847925633315

Approximately 97% or more than 9,500 of the values denoted under the weight variable are missing or null values. Typically in cases of missing values the next step is to determine which method to best impute the missing values but seeing as over 95% of the values are missing for a data set with over 100,000 observations, it makes much more sense to simply drop the column all together.

In [9]:
df.drop('weight', axis =1 , inplace = True)

__Payer Code__

- Find article explaining why to drop.

In [10]:
df.payer_code.unique()

array([nan, 'MC', 'MD', 'HM', 'UN', 'BC', 'SP', 'CP', 'SI', 'DM', 'CM',
       'CH', 'PO', 'WC', 'OT', 'OG', 'MP', 'FR'], dtype=object)

In [11]:
df.payer_code.value_counts(normalize=True)

MC    0.527378
HM    0.102000
SP    0.081401
BC    0.075679
MD    0.057422
CP    0.041180
UN    0.039798
CM    0.031491
OG    0.016794
PO    0.009624
DM    0.008925
CH    0.002374
WC    0.002195
OT    0.001544
MP    0.001284
SI    0.000894
FR    0.000016
Name: payer_code, dtype: float64

In [12]:
df.payer_code.isnull().sum()

40256

In [13]:
df.payer_code.isnull().mean()

0.395574160328597

With almost 40% of its data missing, I also decided to drop this variable.

In [14]:
df.drop('payer_code',axis=1, inplace = True )

In [15]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'medical_specialty', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

__Medical_Specialty__

In [16]:
df.medical_specialty.unique()

array(['Pediatrics-Endocrinology', nan, 'InternalMedicine',
       'Family/GeneralPractice', 'Cardiology', 'Surgery-General',
       'Orthopedics', 'Gastroenterology',
       'Surgery-Cardiovascular/Thoracic', 'Nephrology',
       'Orthopedics-Reconstructive', 'Psychiatry', 'Emergency/Trauma',
       'Pulmonology', 'Surgery-Neuro',
       'Obsterics&Gynecology-GynecologicOnco', 'ObstetricsandGynecology',
       'Pediatrics', 'Hematology/Oncology', 'Otolaryngology',
       'Surgery-Colon&Rectal', 'Pediatrics-CriticalCare', 'Endocrinology',
       'Urology', 'Psychiatry-Child/Adolescent', 'Pediatrics-Pulmonology',
       'Neurology', 'Anesthesiology-Pediatric', 'Radiology',
       'Pediatrics-Hematology-Oncology', 'Psychology', 'Podiatry',
       'Gynecology', 'Oncology', 'Pediatrics-Neurology',
       'Surgery-Plastic', 'Surgery-Thoracic',
       'Surgery-PlasticwithinHeadandNeck', 'Ophthalmology',
       'Surgery-Pediatric', 'Pediatrics-EmergencyMedicine',
       'PhysicalMedicineandRehabilitation', 'InfectiousDiseases',
       'Anesthesiology', 'Rheumatology', 'AllergyandImmunology',
       'Surgery-Maxillofacial', 'Pediatrics-InfectiousDiseases',
       'Pediatrics-AllergyandImmunology', 'Dentistry', 'Surgeon',
       'Surgery-Vascular', 'Osteopath', 'Psychiatry-Addictive',
       'Surgery-Cardiovascular', 'PhysicianNotFound', 'Hematology',
       'Proctology', 'Obstetrics', 'SurgicalSpecialty', 'Radiologist',
       'Pathology', 'Dermatology', 'SportsMedicine', 'Speech',
       'Hospitalist', 'OutreachServices', 'Cardiology-Pediatric',
       'Perinatology', 'Neurophysiology', 'Endocrinology-Metabolism',
       'DCPTEAM', 'Resident'], dtype=object)

In [17]:
df.medical_specialty.isnull().sum()

49949

In [18]:
df.medical_specialty.isnull().mean()

0.49082208203132677

* For the missing null values I researched to see if they indicated a different type of specialist to those listed above or it simply meant that there was no data available for that instance. Found out it was the former. Decided to drop this variable seeing that almost 50% of the data was not available to begin with. Also trying to impute these missing values would introduce more inaccuracy since I'd simply have to make speculations for the missing data.

In [19]:
df.drop('medical_specialty',axis=1, inplace = True )

In [20]:
# from sklearn.preprocessing import LabelEncoder

In [21]:
# encode = LabelEncoder()

In [22]:
# encode.fit(df['medical_specialty'])

In [23]:
# df['medical_specialty_no'] = encode.transform(df['medical_specialty'])

[code source](https://stackoverflow.com/questions/40142686/converting-non-numeric-to-numeric-value-using-panda-libraries)

__Race__

In [24]:
df.race.unique()

array(['Caucasian', 'AfricanAmerican', nan, 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [25]:
df.race.isnull().sum()

2273

In [26]:
(df.race.isnull().mean())*100

2.2335554114340743

Approximately 2% or less than 2,300 of the values denoted under race are missing or null values. As dropping these won't result in a great impact to the overall dataset, that's the step I'll take.

In [27]:
df.dropna(subset=['race'], inplace = True)

__Diagnoses__

In [28]:
df.diag_1.isnull().sum()

19

In [29]:
df.diag_1.isnull().mean()

0.00019096820881871088

In [30]:
df.diag_2.isnull().sum()

336

In [31]:
df.diag_2.isnull().mean()

0.0033771220085835186

In [32]:
df.diag_3.isnull().sum()

1349

In [33]:
df.diag_3.isnull().mean()

0.013558742826128472

As each of the diagnoses variables have missing or null that is less that 2% of the remaining observations, dropping these observations won't result in a great impact to the overall dataset.

In [34]:
df.dropna(subset=['diag_1','diag_2','diag_3'], inplace = True)

In [35]:
df.shape

(98053, 47)

In [36]:
(98053/101766)*100

96.35143368119017

Summary:

* Dropped the following columns:
    - weight
    - payer_code
    - medical_speciality

* Dropped rows with  Nan/missing values for the following columns:
    - race
    - diag_1
    - diag_2
    - diag_3

We are left with 98,053 observations or 96% of our original data set to continue cleaning.

## Looking at non numeric values

In [37]:
df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

For a majority, if not all of the non-numeric varaibles my aim is to change them into numeric values in order for me to perform EDA on as many of the variables in the dataset as possible.

__Race__

In [38]:
df.race.unique()

array(['Caucasian', 'AfricanAmerican', 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [39]:
df['race']= df.race.map({'Caucasian':0, 'AfricanAmerican':1, 'Asian':2, 'Hispanic':3,'Other':4})

In [40]:
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
1,149190,55629189,0,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,1,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,0,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,0,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,0,Male,[50-60),2,1,2,3,31,...,No,Steady,No,No,No,No,No,No,Yes,>30

__Gender__

In [41]:
df.gender.value_counts()

Female             52833
Male               45219
Unknown/Invalid        1
Name: gender, dtype: int64

In [42]:
df.drop(df.index[df['gender'] == 'Unknown/Invalid'], inplace = True)

In [43]:
df['gender']= df.gender.map({'Female':0, 'Male':1})

In [44]:
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
1,149190,55629189,0,0,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,1,0,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,0,1,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,0,1,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,0,1,[50-60),2,1,2,3,31,...,No,Steady,No,No,No,No,No,No,Yes,>30

__Age__

In [45]:
df.age.value_counts()

[70-80)     25305
[60-70)     21809
[80-90)     16702
[50-60)     16697
[40-50)      9265
[30-40)      3548
[90-100)     2717
[20-30)      1478
[10-20)       466
[0-10)         65
Name: age, dtype: int64

In [46]:
#dummify
df['age_range']= df.age.map({'[0-10)':0, '[10-20)':1, '[20-30)':2, '[90-100)':3,'[30-40)':4, '[40-50)':5, '[50-60)':6,'[80-90)':7,'[60-70)':8, '[70-80)':9})

In [47]:
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,age_range
1,149190,55629189,0,0,[10-20),1,1,7,3,59,...,Up,No,No,No,No,No,Ch,Yes,>30,1
2,64410,86047875,1,0,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,Yes,NO,2
3,500364,82442376,0,1,[30-40),1,1,7,2,44,...,Up,No,No,No,No,No,Ch,Yes,NO,4
4,16680,42519267,0,1,[40-50),1,1,7,1,51,...,Steady,No,No,No,No,No,Ch,Yes,NO,5
5,35754,82637451,0,1,[50-60),2,1,2,3,31,...,Steady,No,No,No,No,No,No,Yes,>30,6

__Diagnosis__

* 'diag_1'- primary diagnoses
* 'diag_2'- secondary diagnosis
* 'diag_3'- additional diagnosis

Each of these inidcated a particular level of diagnosis for a give patient. Hoeever each had 848-923 distinct  values coded as the first three digit of teh Internatin classification of Dieseas (ICD- 9). Based on reserach papers used for my analyze I decided to do what previous reserahcer and analyst had done and conslidate these into 9 majo categories: include Circulatory, Respiratory, Digestive, Diabetes, Injury, Musculoskeletal, Genitourinary, Neoplasms, and Others.

In [48]:
diag_columns = ['diag_1', 'diag_2', 'diag_3']

In [81]:
df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                         int64
gender                       int64
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum                int64
A1Cresult                    int64
metformin                    int64
repaglinide                  int64
nateglinide                  int64
chlorpropamide               int64
glimepiride                  int64
acetohexamide                int64
glipizide                    int64
glyburide                    int64
tolbutamide                  int64
pioglitazone                 int64
rosiglitazone                int64
acarbose                     int64
miglitol                     int64
troglitazone                 int64
tolazamide                   int64
examide                      int64
citoglipton                  int64
insulin                      int64
glyburide-metformin          int64
glipizide-metformin          int64
glimepiride-pioglitazone     int64
metformin-rosiglitazone      int64
metformin-pioglitazone       int64
change                       int64
diabetesMed                  int64
readmitted                   int64
age_range                    int64
dtype: object

In [ ]:
diagnosis(df,diag_columns)

In [82]:
df.diag_1.unique()

array(['276', '648', '8', '197', '414', '428', '398', '434', '250.7',
       '157', '518', '999', '410', '682', '402', 'V57', '189', '786',
       '427', '996', '277', '584', '462', '473', '411', '174', '486',
       '998', '511', '432', '626', '295', '196', '250.6', '182', '845',
       '423', '808', '250.4', '722', '403', '784', '707', '440', '151',
       '715', '997', '198', '564', '38', '590', '578', '250.32', '433',
       '569', '185', '536', '255', '250.13', '599', '558', '574', '491',
       '560', '244', '250.03', '577', '730', '188', '824', '250.8', '332',
       '562', '291', '296', '510', '401', '263', '438', '70', '642',
       '571', '738', '593', '618', '250.42', '807', '456', '446', '572',
       '575', '250.41', '250.02', '820', '515', '780', '250.22', '995',
       '235', '250.82', '721', '787', '556', '162', '724', '282',
       '250.83', '514', 'V55', '281', '250.33', '530', '466', '435',
       '250.12', 'V53', '789', '566', '822', '191', '557', '733', '455',
       '711', '482', '202', '493', '280', '553', '154', '441', '250.81',
       '349', '962', '592', '507', '386', '156', '200', '728', '426',
       '607', '337', '82', '531', '812', '225', '596', '288', 'V58',
       '656', '573', '492', '220', '516', '210', '922', '286', '885',
       '958', '661', '969', '227', '112', '404', '823', '532', '416',
       '346', '535', '453', '250', '595', '211', '303', '852', '218',
       '540', '457', '285', '431', '340', '550', '351', '601', '723',
       '555', '153', '443', '380', '204', '424', '241', '358', '694',
       '331', '345', '681', '447', '290', '158', '579', '436', '335',
       '309', '654', '805', '799', '292', '183', '78', '851', '458',
       '586', '311', '54', '892', '305', '293', '415', '591', '794',
       '803', '250.11', '79', '429', '278', '658', '598', '729', '585',
       '444', '727', '214', '552', '284', '41', '644', '481', '821',
       '413', '437', '968', '756', '632', '782', '359', '275', '512',
       '781', '420', '368', '522', '737', '294', '825', '135', '304',
       '320', '250.31', '669', '868', '496', '826', '567', '3', '203',
       '680', '459', '53', '251', '565', '495', '49', '250.1', '297',
       '663', '250.43', '576', '355', '850', '287', '250.2', '611', '348',
       '840', '350', '726', '537', '620', '180', '366', '783', '11',
       '751', '250.3', '199', '464', '580', '836', '664', '283', '966',
       '289', '708', '965', '184', '604', '480', '608', '333', '972',
       '212', '117', '788', '625', '924', '959', '621', '238', '785',
       '714', '942', '250.23', '710', '47', '933', '508', '844', '7',
       '233', '42', '250.5', '397', '395', '201', '421', '253', '250.92',
       '600', '494', '977', '716', '39', '659', '312', '614', '647',
       '652', '646', '274', '861', '425', '527', '451', '485', '217',
       '250.53', '442', '970', '193', '160', '322', '581', '475', '623',
       '374', '582', '568', '465', '801', '237', '376', '150', '461',
       '913', '617', '987', '641', '298', '790', '336', '362', '228',
       '513', '478', '383', '746', '353', '911', '506', '873', '155',
       '860', '534', '802', '141', 'V45', '310', '341', '242', '719',
       '736', '239', '533', '616', '519', '301', 'V66', '5', '989', '230',
       '300', '853', '871', '570', '848', '9', '934', '250.21', '361',
       '594', '810', '250.93', '643', '430', '528', '205', '791', '983',
       '992', '490', '396', '172', '171', '622', '306', '863', '864',
       '474', '660', '759', '356', '634', '967', '551', '695', '187',
       '732', '747', '323', '308', '370', '252', '152', '846', '164',
       '365', '718', '48', '266', '720', '94', '161', '344', '797', '813',
       '170', '878', '904', 'V56', '882', '843', '709', '973', '454',
       '686', '939', '487', '229', '991', '226', '483', '357', '692',
       '796', '693', '935', '936', '800', '920', '261', '307', '262',
       '831', '145', '388', '223', 'V71', '839', '685', 'V54', '655',
       '35', '34', '179', '964', '136', '324', '389', '815', '334', '143',
       '526', '588', '250.01', '192', 'V67', '394', '917', '88', '219',
       '325', '501', '792', '717', '994', '990', '793', '207', '637',
       '195', '373', '847', '827', '31', '891', '814', 'V60', '703',
       '865', '352', '627', '378', '342', '886', '369', '745', '705',
       '816', '541', '986', '610', '633', '640', '753', '173', '835',
       '379', '445', '945', '619', '881', '250.52', '866', '405', '916',
       '215', '893', '75', '928', '906', '897', '725', '867', '115',
       '734', '674', '521', '470', '834', '146', '696', '524', '980',
       '691', '384', '142', '879', '250.51', '246', '208', '955', '653',
       '149', '245', '735', '883', '854', '952', '838', '194', 'V43',
       '163', '216', '147', '27', '477', '318', '880', '921', '890',
       '377', '471', '683', '272', '448', '175', '602', '250.91', '982',
       '382', '706', '375', '417', '131', '250.9', '463', '347', '385',
       '870', '148', '354', 'V26', '862', '61', '817', '914', '360',
       '684', '314', 'V63', '36', '57', '240', '915', '971', '795', '988',
       '452', '963', '327', '731', '842', 'V25', '645', '665', '110',
       '944', '923', '412', '363', '957', '976', '698', '299', '700',
       '273', '974', '97', '529', '66', '98', '605', '941', '806', '84',
       '271', '837', '657', '895', '338', '523', '542', '114', '543',
       '372', 'E909', '583', 'V07', '422', '615', '279', '500', '919',
       '875', '236', '381', '804', '704', '23', '58', '649', '832', '133',
       '975', '833', '391', '690', '603', '10', '52', 'V51'], dtype=object)

These are codes in here that indicate some sort of disease. I'm having issues changing these particular variables to an integer. I've used the code below, but I get errors each time. 

What I've attempted:
df['diag_1'] = df['diag_1'].replace('E', '2000').replace('V', '5000')
df['diag_1'] = df['diag_1'].str.replace('E', '2000').str.replace('V', '5000')
df['diag_1'] = df['diag_1'].str.startswith('E', '2000').str.startswith('V', '5000')
df['diag_1'] = df['diag_1'].str.contains('E', '2000').str.contains('V', '5000')

In [83]:
df['diag_1'] = df.diag_1.map(lambda x: x.replace('E','2000').replace('V', '5000'))

In [84]:
df.diag_1.unique()

array(['276', '648', '8', '197', '414', '428', '398', '434', '250.7',
       '157', '518', '999', '410', '682', '402', '500057', '189', '786',
       '427', '996', '277', '584', '462', '473', '411', '174', '486',
       '998', '511', '432', '626', '295', '196', '250.6', '182', '845',
       '423', '808', '250.4', '722', '403', '784', '707', '440', '151',
       '715', '997', '198', '564', '38', '590', '578', '250.32', '433',
       '569', '185', '536', '255', '250.13', '599', '558', '574', '491',
       '560', '244', '250.03', '577', '730', '188', '824', '250.8', '332',
       '562', '291', '296', '510', '401', '263', '438', '70', '642',
       '571', '738', '593', '618', '250.42', '807', '456', '446', '572',
       '575', '250.41', '250.02', '820', '515', '780', '250.22', '995',
       '235', '250.82', '721', '787', '556', '162', '724', '282',
       '250.83', '514', '500055', '281', '250.33', '530', '466', '435',
       '250.12', '500053', '789', '566', '822', '191', '557', '733',
       '455', '711', '482', '202', '493', '280', '553', '154', '441',
       '250.81', '349', '962', '592', '507', '386', '156', '200', '728',
       '426', '607', '337', '82', '531', '812', '225', '596', '288',
       '500058', '656', '573', '492', '220', '516', '210', '922', '286',
       '885', '958', '661', '969', '227', '112', '404', '823', '532',
       '416', '346', '535', '453', '250', '595', '211', '303', '852',
       '218', '540', '457', '285', '431', '340', '550', '351', '601',
       '723', '555', '153', '443', '380', '204', '424', '241', '358',
       '694', '331', '345', '681', '447', '290', '158', '579', '436',
       '335', '309', '654', '805', '799', '292', '183', '78', '851',
       '458', '586', '311', '54', '892', '305', '293', '415', '591',
       '794', '803', '250.11', '79', '429', '278', '658', '598', '729',
       '585', '444', '727', '214', '552', '284', '41', '644', '481',
       '821', '413', '437', '968', '756', '632', '782', '359', '275',
       '512', '781', '420', '368', '522', '737', '294', '825', '135',
       '304', '320', '250.31', '669', '868', '496', '826', '567', '3',
       '203', '680', '459', '53', '251', '565', '495', '49', '250.1',
       '297', '663', '250.43', '576', '355', '850', '287', '250.2', '611',
       '348', '840', '350', '726', '537', '620', '180', '366', '783',
       '11', '751', '250.3', '199', '464', '580', '836', '664', '283',
       '966', '289', '708', '965', '184', '604', '480', '608', '333',
       '972', '212', '117', '788', '625', '924', '959', '621', '238',
       '785', '714', '942', '250.23', '710', '47', '933', '508', '844',
       '7', '233', '42', '250.5', '397', '395', '201', '421', '253',
       '250.92', '600', '494', '977', '716', '39', '659', '312', '614',
       '647', '652', '646', '274', '861', '425', '527', '451', '485',
       '217', '250.53', '442', '970', '193', '160', '322', '581', '475',
       '623', '374', '582', '568', '465', '801', '237', '376', '150',
       '461', '913', '617', '987', '641', '298', '790', '336', '362',
       '228', '513', '478', '383', '746', '353', '911', '506', '873',
       '155', '860', '534', '802', '141', '500045', '310', '341', '242',
       '719', '736', '239', '533', '616', '519', '301', '500066', '5',
       '989', '230', '300', '853', '871', '570', '848', '9', '934',
       '250.21', '361', '594', '810', '250.93', '643', '430', '528',
       '205', '791', '983', '992', '490', '396', '172', '171', '622',
       '306', '863', '864', '474', '660', '759', '356', '634', '967',
       '551', '695', '187', '732', '747', '323', '308', '370', '252',
       '152', '846', '164', '365', '718', '48', '266', '720', '94', '161',
       '344', '797', '813', '170', '878', '904', '500056', '882', '843',
       '709', '973', '454', '686', '939', '487', '229', '991', '226',
       '483', '357', '692', '796', '693', '935', '936', '800', '920',
       '261', '307', '262', '831', '145', '388', '223', '500071', '839',
       '685', '500054', '655', '35', '34', '179', '964', '136', '324',
       '389', '815', '334', '143', '526', '588', '250.01', '192',
       '500067', '394', '917', '88', '219', '325', '501', '792', '717',
       '994', '990', '793', '207', '637', '195', '373', '847', '827',
       '31', '891', '814', '500060', '703', '865', '352', '627', '378',
       '342', '886', '369', '745', '705', '816', '541', '986', '610',
       '633', '640', '753', '173', '835', '379', '445', '945', '619',
       '881', '250.52', '866', '405', '916', '215', '893', '75', '928',
       '906', '897', '725', '867', '115', '734', '674', '521', '470',
       '834', '146', '696', '524', '980', '691', '384', '142', '879',
       '250.51', '246', '208', '955', '653', '149', '245', '735', '883',
       '854', '952', '838', '194', '500043', '163', '216', '147', '27',
       '477', '318', '880', '921', '890', '377', '471', '683', '272',
       '448', '175', '602', '250.91', '982', '382', '706', '375', '417',
       '131', '250.9', '463', '347', '385', '870', '148', '354', '500026',
       '862', '61', '817', '914', '360', '684', '314', '500063', '36',
       '57', '240', '915', '971', '795', '988', '452', '963', '327',
       '731', '842', '500025', '645', '665', '110', '944', '923', '412',
       '363', '957', '976', '698', '299', '700', '273', '974', '97',
       '529', '66', '98', '605', '941', '806', '84', '271', '837', '657',
       '895', '338', '523', '542', '114', '543', '372', '2000909', '583',
       '500007', '422', '615', '279', '500', '919', '875', '236', '381',
       '804', '704', '23', '58', '649', '832', '133', '975', '833', '391',
       '690', '603', '10', '52', '500051'], dtype=object)

In [85]:
df['diag_1'] = df.diag_1.astype('float')

ValueError: invalid literal for int() with base 10: '250.7'

In [ ]:
df.diag_1.unique()

In [90]:
df.diag_1.value_counts()

Other          68423
Circulatory    29629
Name: diag_1, dtype: int64

In [55]:
#dictionary of codes and the related disease. 
# Circulatory 390–459, 785 
# Respiratory 460–519, 786 
# Digestive 520–579, 787 
# Diabetes 250.xx 
# Injury 800–999 4
# Musculoskeletal 710–739 
# Genitourinary 580–629, 788 
# Neoplasms 140–239 ,780, 781, 784, 790–799 ,  240–279, without 250, 680–709, 782 
# Other

I want to run all these above in a panda series, seen below.

In [86]:
df['diag_1'] = pd.Series(['Circulatory' if (val >=390 and val < 460) or (val == 785)
                          else 'Respiratory' if(val 460 >= and val < 520) or (val == 786)
                          else 'Digestive' if (val 520 >= and val < 580) or (val == 787)
                          else 'Diabetes' if (val == 250.xx)
                          else 'Injury' if (val 800 >= and val < 1000)
                          else 'Musculoskeletal' if (val 710 >= and val < 740)
                          else 'Genitourinary' if(val 580 >= and val < 670) or (val == 788)
                          else 'Neoplasms' if(val 140 >= and val < 240) or (val 240 >= and val < 250) or (val 250 > and val < 280) or (val == 780) or (val == 781) or (val == 782) or (val == 784) or (val 790 >= and val < 800) or (val 600 >= and val < 710)
                          else 'Other'for val in df['diag_1']], index=df.index)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [57]:
# df.diag_1.value_counts()

In [49]:
# def diagnosis(df, targetcols):
#     for i in targetcols:
#         df[i] = df[i].map({390-459 and 785: 'Circulatory', 460-519 and 786:'Respiratory'})

In [58]:
# df.diag_2.value_counts()

In [59]:
# df.diag_3.value_counts()

__Glucose serum test Result__

In [60]:
df.max_glu_serum.value_counts()

None    92844
Norm     2532
>200     1449
>300     1227
Name: max_glu_serum, dtype: int64

In [61]:
df['max_glu_serum']= df.max_glu_serum.map({'None':0, 'Norm':1, '>200':2, '>300':3})

__A1c test result__

In [62]:
df.A1Cresult.value_counts()

None    81859
>8       7631
Norm     4854
>7       3708
Name: A1Cresult, dtype: int64

In [63]:
df['A1Cresult']= df.A1Cresult.map({'None':0, 'Norm':1, '>7':2, '>8':3})

__Dummifying the generic drugs variables__

In [64]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses',
       'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'age_range'],
      dtype='object')

In [65]:
columns = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 
        'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide','pioglitazone', 
          'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone','tolazamide', 'examide', 'citoglipton', 'insulin',
           'glyburide-metformin', 'glipizide-metformin','glimepiride-pioglitazone', 'metformin-rosiglitazone','metformin-pioglitazone']

In [66]:
def generic_medication(df, targetcols):
    for i in targetcols:
        df[i] = df[i].map({'No':0, 'Steady':1, 'Up':2, 'Down':3})

In [67]:
generic_medication(df,columns)

In [68]:
df.metformin.value_counts()

0    78807
1    17677
2     1017
3      551
Name: metformin, dtype: int64

In [69]:
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,age_range
1,149190,55629189,0,0,[10-20),1,1,7,3,59,...,2,0,0,0,0,0,Ch,Yes,>30,1
2,64410,86047875,1,0,[20-30),1,1,7,2,11,...,0,0,0,0,0,0,No,Yes,NO,2
3,500364,82442376,0,1,[30-40),1,1,7,2,44,...,2,0,0,0,0,0,Ch,Yes,NO,4
4,16680,42519267,0,1,[40-50),1,1,7,1,51,...,1,0,0,0,0,0,Ch,Yes,NO,5
5,35754,82637451,0,1,[50-60),2,1,2,3,31,...,1,0,0,0,0,0,No,Yes,>30,6

In [70]:
df.citoglipton.value_counts()

0    98052
Name: citoglipton, dtype: int64

In [71]:
df.miglitol.value_counts()

0    98015
1       31
3        4
2        2
Name: miglitol, dtype: int64

__Change in medication__

In [72]:
df.change.unique()

array(['Ch', 'No'], dtype=object)

In [73]:
df['change']= df.change.map({'Ch':0, 'No':1})

__Diabetes Medication Prescribed__

In [74]:
df['diabetesMed']= df.diabetesMed.map({'No':0, 'Yes':1})

__Readmission__

In [75]:
df.readmitted.unique()

array(['>30', 'NO', '<30'], dtype=object)

In [76]:
df['readmitted']= df.readmitted.map({'NO':0, '<30':1, '>30':2})

__Sanity Check__

In [77]:
df.isnull().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
age_range                   0
dtype: int64

In [78]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses',
       'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'age_range'],
      dtype='object')

In [79]:
df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                         int64
gender                       int64
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum                int64
A1Cresult                    int64
metformin                    int64
repaglinide                  int64
nateglinide                  int64
chlorpropamide               int64
glimepiride                  int64
acetohexamide                int64
glipizide                    int64
glyburide                    int64
tolbutamide                  int64
pioglitazone                 int64
rosiglitazone                int64
acarbose                     int64
miglitol                     int64
troglitazone                 int64
tolazamide                   int64
examide                      int64
citoglipton                  int64
insulin                      int64
glyburide-metformin          int64
glipizide-metformin          int64
glimepiride-pioglitazone     int64
metformin-rosiglitazone      int64
metformin-pioglitazone       int64
change                       int64
diabetesMed                  int64
readmitted                   int64
age_range                    int64
dtype: object

In [80]:
df.to_csv('../dataset_diabetes/diabetic_data_clean.csv')